@import "tailwindcss";

body {
  background: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%);
  color: #e5e7eb;
  overflow: hidden;
  user-select: none;
  /* Prevent scroll on body */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.5);
}